<ion-backdrop (click)="bdClick()" [class.backdrop-no-tappable]="!d.enableBackdropDismiss"></ion-backdrop>
<div class="script-keyboard-wrapper" style="transform: translateY(0%)">
  <div class="script-keyboard-sections">
    <div class="script-keyboard-section">
      <div class="script-keyboard-section-title">Section 1</div>
      <button>OP_1</button>
      <button>OP_2</button>
      <button>OP_3</button>
    </div>
    <div class="script-keyboard-section">
      <div class="script-keyboard-section-title">Section 2</div>
      <button>OP_4</button>
      <button>OP_5</button>
      <button>OP_6</button>
    </div>
  </div>
</div>
