$action-sheet-width: 100%;

script-keyboard {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: $z-index-overlay;
  display: block;

  width: $action-sheet-width;
  height: 400px;
}

.script-keyboard-wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-index-overlay-wrapper;
  display: block;

  margin: auto;

  width: $action-sheet-width;

  transform: translate3d(0, 100%, 0);
}

.action-sheet-button {
  width: $action-sheet-width;
}
